[Desktop Entry]
Encoding=UTF-8
Name=GGAP
Comment=GAP Front End
Exec=ggap %F
Terminal=false
Type=Application
StartupNotify=true
MimeType=application/x-ggap;
Icon=ggap.png
Categories=Math;Science;
