[Desktop Entry]
Name=GGAP
Comment=GAP Front End
Exec=ggap %F
Terminal=false
Type=Application
StartupNotify=true
MimeType=application/x-ggap;
Icon=ggap
Categories=Math;Science;
