#import sys
#def warning(s = "")
$sys.stderr.write("Warning: " + s + "\n")
#end def

#def title
$warning("Define title")
#end def
#def body
$warning("Define body")
#end def

#def section(name)
$warning("Define section")
#end def
#def endsection
$warning("Define endsection")
#end def
#def subsection(name)
$warning("Define subsection")
#end def
#def endsubsection
$warning("Define endsubsection")
#end def
#def subsubsection(name)
$warning("Define subsubsection")
#end def
#def endsubsubsection
$warning("Define endsubsubsection")
#end def

#def list(numbered = False)
$warning("Define list")
#end def
#def item
$warning("Define item")
#end def
#def endlist
$warning("Define endlist")
#end def

#def python
$warning("Define python")
#end def
#def gap
$warning("Define gap")
#end def

#def none
$warning("Define none")
#end def
#def true
$warning("Define true")
#end def
#def false
$warning("Define false")
#end def

#def code(string_ = None)
$warning("Define code")
#end def
#def endcode
$warning("Define endcode")
#end def

#def function(name, *args)
$warning("Define function")
#end def
#def funcname(s)
$warning("Define funcname")
#end def
#def arg(s)
$warning("Define arg")
#end def
#def returns(s)
$warning("Define returns")
#end def
#def variable(string_)
$warning("Define variable")
#end def
#def quote(string_)
$warning("Define quote")
#end def
#def italic(string_)
$warning("Define italic")
#end def
