/* Basic tags */
body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: sans-serif;
}

/* Anchors */
a img {
  border: 0;
}

a:link {
  color: #0000ff;
}

a:link:visited {
  color: #551a8b;
}

a:link:active {
  color: #ff0000;
}

/*#sidebar {
  float: right;
  width: 200px;
  margin-top: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  color: #000000;
  background-color: #ffffff;
}

#sidebar p {
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px dashed #9c99cd;
}

#sidebar p.section {
  text-align: center;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #F4F4F4;
  border: 1px solid #C5C5C5;
}

#sidebar ul {
  margin: 0 0 15px 0;
  padding: 0 10px 0 10px;
  list-style-type: none;
  border-left: 1px dashed #C5C5C5;
}

#sidebar a.logo {
  padding-left: 10px;
}

#sidebar ul ul {
  padding-left: 2em;
  list-style-type: square;
}*/

#body {
  margin: 10px 10px 10px 10px;
  text-align: justify;
  padding: 0;
}

#body h3 {
  padding: 3px;
  background-color: #F4F4F4;
  border: 1px solid #C5C5C5;
}

#body h4 {
  margin-bottom: 0;
}

#body h5 {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #C5C5C5;
}

#body dd {
    margin-bottom: 1em;
}

#footer {
  background-color: #F4F4F4;
  color: #C5C5C5;
  border: 1px solid #C5C5C5;
  padding: 3px;
  margin: 30px 220px 10px 10px;
}
