## class name gets substituted by gen_html_tmpl
## it must be first occurrence of this string in the file!
#extends CHAPTER_FILE_NAME
#implements respond
##
#def title
CHAPTER_TITLE
#end def
##
#####################################################################
## HTML output methods
##
#def section(name)
<h2 id="SectionTitle">$name</h2>
<div id="Section">
#end def
##
#def subsection(name)
<h3 id="SubsectionTitle">$name</h3>
<div id="Subsection">
#end def
##
#def subsubsection(name)
<h4 id="SubsubsectionTitle">$name</h4>
<div id="Subsubsection">
#end def
##
#def endsection
</div>
#end def
#def endsubsection
</div>
#end def
#def endsubsubsection
</div>
#end def
##
#def list(numbered = False)
<ul>
#end def
#def item
<li>
#end def
#def endlist
</ul>
#end def
##
##
##
#def code(string_ = None)
#if $string_
<code>$string_</code>#slurp
#else
<div id="code">#slurp
#end if
#end def
##
#def endcode
</div>
#end def
##
##
#def function(name, *args)
<code>$name</code>#slurp
#if $args
<code>(</code>#slurp
#for $i in $range($len($args))
#if not $i
<em>$args[$i]</em>#slurp
#else
, <em>$args[$i]</em>#slurp
#end if
#end for
<code>)</code>#slurp
#else
<code>()</code>#slurp
#end if
#end def
##
#def funcname(s)
<code>$s</code>#slurp
#end def
##
#def returns(s)
<em>Returns: </em>$s#slurp
#end def
##
#def arg(s)
<em>$s</em>#slurp
#end def
##
##
#def variable(string_)
<em>$string_</em>#slurp
#end def
##
#def quote(string_)
<q>$string_</q>#slurp
#end def
##
#def italic(string_)
<em>$string_</em>#slurp
#end def
##
##
#def para
<br>
#end def
##
#def gap
GAP#slurp
#end def
##
#def python
Python#slurp
#end def
##
#def none
$code('none')#slurp
#end def
##
#def true
$code('true')#slurp
#end def
##
#def false
$code('false')#slurp
#end def
##
##
#####################################################################
## HTML document body
##
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <title>$title</title>
  <style type="text/css">
    body {margin: 0px; padding: 0px; background-color: white; font-family: sans-serif;}
    /* Anchors */
    a img {border: 0;}
    a:link {color: #0000ff;}
    a:link:visited {color: #551a8b;}
    a:link:active {color: #ff0000;}
    /*#sidebar {
    float: right;
    width: 200px;
    margin-top: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    color: #000000;
    background-color: #ffffff;
    }

    #sidebar p {
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px dashed #9c99cd;
    }

    #sidebar p.section {
    text-align: center;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #F4F4F4;
    border: 1px solid #C5C5C5;
    }

    #sidebar ul {
    margin: 0 0 15px 0;
    padding: 0 10px 0 10px;
    list-style-type: none;
    border-left: 1px dashed #C5C5C5;
    }

    #sidebar a.logo {
    padding-left: 10px;
    }

    #sidebar ul ul {
    padding-left: 2em;
    list-style-type: square;
    }*/

    #body {margin: 10px 10px 10px 10px; text-align: justify; padding: 0;}
    #body h3 {padding: 3px; background-color: #F4F4F4; border: 1px solid #C5C5C5;}
    #body h4 {margin-bottom: 0;}
    #body h5 {margin-top: 0; margin-bottom: 0; border-bottom: 1px solid #C5C5C5;}
    #body dd {margin-bottom: 1em;}
    #footer {background-color: #F4F4F4; color: #C5C5C5; border: 1px solid #C5C5C5; padding: 3px; margin: 30px 220px 10px 10px;}
    #code {font-family: monospace; white-space: pre; background: #F4F4F4; border: solid 1px #C5C5C5; padding: 0.25em; margin: 0.5em;}
    ul {/*   list-style: none; */}
  </style>
</head>
<body>
<div id="body">
<h1>$title</h1>
$body
</div>
</body>
</html>
##
