#from manual import title, chapters, chap_titles
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <title>$title</title>
</head>
<body>
<h1>$title</h1>
<ol id="contents">
#for $chap in $chapters
<li><a href=#echo '"' + $chap + '.html"'#>$chap_titles[$chap]</a></li>
#end for
</ol>
</body>
</html>
