## usermenu.tmpl
#extends base
#def body

$section('Functions')

These are builtin functions available to scripts in user-defined actions scripts.

$list
$item $function('GAP', 'string') - pastes $variable('string') to the $gap console, as if it
was entered by user.
$endlist

$endsection ## Functions

#end def ## body
